{{ $ := .root }}
{{ $page := .page }}

{{ $author := "" }}
{{ if .author }}
{{ $author = .author }}
{{ else }}
{{ $author = $page.Params.author }}
{{end}}

{{ $person_page_path := (printf "/authors/%s" (urlize $author)) }}
{{ $person_page := site.GetPage $person_page_path }}
{{ if not $person_page }}
{{ errorf "Could not find an author page at `%s`. Please check the value of `author` in your About widget and create an associated author page if one does not already exist. See https://sourcethemes.com/academic/docs/page-builder/#about " $person_page_path }}
{{end}}
{{ $person := $person_page.Params }}

<!-- About widget -->
<div class="row" itemprop="author" itemscope itemtype="http://schema.org/Person"
  itemref="{{ if site.Params.email }}person-email{{ end }}{{ if site.Params.phone }} person-telephone{{ end }}{{ if site.Params.address}} person-address{{ end }}">
  <div class="col-lg-5">
    <div id="profile">
      {{ if site.Params.gravatar }}
      <img class="portrait img-fluid" src="https://s.gravatar.com/avatar/{{ md5 $person.email }}?s=200')"
        itemprop="image" alt="Avatar">
      {{ else }}
      {{ $avatar_image := .page.Params.avatar_image }}
      <img class="hero-img img-fluid" src="{{ printf "img/%s" $avatar_image | relURL }}" itemprop="image" alt="Avatar">
      {{ end }}
    </div>
    <ul class="network-icon bg-white mx-2 py-2 text-center" aria-hidden="true">
      {{ range $person.social }}
      {{ $pack := or .icon_pack "fas" }}
      {{ $pack_prefix := $pack }}
      {{ if in (slice "fab" "fas" "far" "fal") $pack }}
      {{ $pack_prefix = "fa" }}
      {{ end }}
      {{ $link := .link }}
      {{ $scheme := (urls.Parse $link).Scheme }}
      {{ $target := "" }}
      {{ if not $scheme }}
      {{ $link = .link | relLangURL }}
      {{ else if in (slice "http" "https") $scheme }}
      {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
      {{ end }}
      <li class="mx-3">
        <a itemprop="sameAs" href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }}>
          <i class="{{ $pack }} {{ $pack_prefix }}-{{ .icon }}"></i>
        </a>
      </li>
      {{ end }}
    </ul>
  </div>
  <div class="col-lg-7" itemprop="description">

    <div class="portrait-title">
      <h2 itemprop="name">{{ $person.name }}</h2>
      {{ with $person.role }}<h3 class="d-inline-block" itemprop="jobTitle">{{ . | markdownify | emojify }},</h3>{{ end }}

      {{ range $person.organizations }}
      <h3 class="d-inline-block" itemprop="worksFor" itemscope itemtype="http://schema.org/Organization">
        {{ with .url }}<a href="{{ . }}" target="_blank" itemprop="url" rel="noopener">{{ end }}
          <span itemprop="name">{{ .name }}</span>
          {{ if .url }}</a>{{ end }}
      </h3>
      {{ end }}
    </div>

    <link itemprop="url" href="{{ .Permalink }}">



    {{ $person_page.Content }}

    {{ range $person.btn }}
    <a href="{{ .url }}" target="_blank" class="btn btn-primary btn-lg"><i class="fas fa-download mr-2" aria-hidden="true"></i>{{ .label }}</a>
    {{ end }}


    {{ if $person.display_education }}
    <div class="row">

      {{ with $person.education }}
      <div class="col-md-7">
        <h3>{{ i18n "education" | markdownify }}</h3>
        <ul class="ul-edu fa-ul">
          {{ range .courses }}
          <li>
            <i class="fa-li fas fa-graduation-cap"></i>
            <div class="description">
              <p class="course">{{ .course }}{{ with .year }}, {{ . }}{{ end }}</p>
              <p class="institution">{{ .institution }}</p>
            </div>
          </li>
          {{ end }}
        </ul>
      </div>
      {{ end }}

      {{ with $person.interests }}
      <div class="col-md-5">
        <h3>{{ i18n "interests" | markdownify }}</h3>
        <ul class="ul-interests">
          {{ range . }}
          <li>{{ . | markdownify | emojify }}</li>
          {{ end }}
        </ul>
      </div>
      {{ end }}

    </div>
    {{ end }}
  </div>
</div>
