{{ $ := .root }}
{{ $page := .page }}

<!-- certifications widget -->
<div class="row">
  <div class="col-12 text-center section-heading">
    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
    {{ with $page.Content }}<p>{{ . | markdownify }}</p>{{ end }}
  </div>

  {{ if $page.Params.item }}
  {{ range $idx, $key := sort $page.Params.item ".date_start" "desc" }}
  <div class="col-lg-6 col-md-6 mb-4">
    <div class="card experience course shadow-sm rounded-0 border-0">
      <div class="card-body">
        {{- with .url -}}<a href="{{.}}" target="_blank" rel="noopener">{{- end -}}
          <h4 class="card-title exp-title text-muted my-0">{{.title | markdownify | emojify}}</h4>
          {{- with .url -}}</a>{{- end -}}

        <div class="card-subtitle my-0 article-metadata">
          {{- with .organization_url}}<a href="{{.}}" target="_blank" rel="noopener">{{end -}}
            {{- .organization | markdownify | emojify -}}
            {{- with .organization_url}}</a>{{end -}}

          <span class="middot-divider"></span>

          {{ (time .date_start).Format ($page.Params.date_format | default "Jan 2006") }}
          {{ if .date_end}}
          – {{ (time .date_end).Format ($page.Params.date_format | default "Jan 2006") }}
          {{end}}
        </div>

        {{with .description}}
        <div class="card-text">{{. | markdownify | emojify}}</div>
        {{end}}

        {{ with .certificate_url }}
        <a class="card-link" href="{{.}}" target="_blank" rel="noopener">
          {{ i18n "see_certificate" | default "See certificate" }}
        </a>
        {{ end }}
      </div>
    </div>
  </div>
  {{end}}
  {{end}}
</div>
</div>